@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .primary{
   @apply  bg-[#e1f1fd]
} */
.text_primary {
    color: #4663ac;
}
.text_secondary{
    color: #727272;
}

.dark_mode{
    @apply bg-slate-950 text-[#e1f1fd]

}

.light_mode{
    @apply bg-[#e1f1fd] text-gray-900
}

.nav_bg_dark{
   @apply bg-slate-950
}
.nav_bg_light{
   @apply bg-[#e1f1fd]
}
body {
    
    letter-spacing: -.03em;
    font-family: Epilogue, sans-serif;
    font-size: 1rem;
    line-height: 1em;
    
    /* bg-[#285185]; */
}

.secondary_color {
    background: #7af065;
}
.primary_text{
    @apply text-blue-800
}